<!DOCTYPE html>
<html lang="en-US">
    <%- include("header") %>
    <body>
        <h1><%= title %></h1>
        <a href="/new">Add message</a>
            <ul>
            <% messages.forEach((message, index) => { %>
                    <li>
                        <p><%= message.user %>: <%= message.text %></p>
                        <p><%= message.added.toLocaleString() %></p>
                        <a href="/message/<%= index %>">More info</a>
                    </li>
           <% }) %>
            </ul>
    </body>
</html>